# Core LLM
langchain-mistralai

# LangChain
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface

# Chroma Vector Database
chromadb

# Embeddings
sentence-transformers

# Document Loaders
pypdf

# Environment Variables
python-dotenv

# UI Front-end
streamlit